  .repo-details-container {
    background-color: #333;
    color: #c9d1d9;
  }
  
  .repo-title {
    color: #58a6ff;
  }
  
  .repo-link {
    color: #58a6ff;
  }
  
  .repo-details-item.dark-mode {
    background-color: #333;
    color: #c9d1d9;
  }
  
  .dark-mode .card-body {
    background-color: #333;
    color: #c9d1d9;
  }
  